/* stylesheet for demo and examples */

@import url(http://fonts.googleapis.com/css?family=Lobster+Two:700italic,700);
@import url(http://fonts.googleapis.com/css?family=Oswald:300);




.content table{
	width: 100%;
}

.content table tr{ border-bottom: 1px dashed #666; }
.content table th { padding: 10px 10px 9px 10px; }

.content table td{ padding: 10px 10px 9px 10px; width:50%; }

.sortable{ min-width: 800px; }

.onecol-first-width { width:85%;}

.content table td ul { list-style:none; padding:0px; margin:0px;}
.content table td ul li { line-height:15px; font-size:11px;}

.content .bordered tbody tr:nth-child(even) {
	background: #f8f8f8;
	-webkit-box-shadow: 0 1px 0 rgba(248,248,248,.8) inset;
	-moz-box-shadow:0 1px 0 rgba(248,248,248,.8) inset;
	box-shadow: 0 1px 0 rgba(248,248,248,.8) inset;
}



