div#head_div {
margin-top: 2%;
}
div#main_container {
width: 62%;
}div#main_container {
width: 62%;
}
.progress-pie-chart {
margin-left: 20%;
width: 200px;
height: 200px;
border-radius: 50%;
background-color: #E5E5E5;
position: relative;
}
.container {
margin-left: 10%;
width: 200px;
}
.progress {
margin-left: 0%;
width: 359px;
/* margin: 2% auto; */
text-align: center;
}

ul#progress {
list-style: none;
width: 125px;
margin: 18%;
padding-top: 0px;
padding-bottom: 0px;
/* padding-right: 46px; */
}
ul#loadbar {
list-style: none;
width: 140px;
margin: 16%;
padding-top: 50px;
padding-bottom: 38px;
padding-right: 46px;
}
div.p_bar_body {
/* margin-left: 9%; */
/* margin-top: 18%; */
margin: 20px auto;
text-align: center;
}
.progress-value {
color: #444;
margin-left: 67%;
/* margin-top: 6px; */
}
progress {
width: 400px;
height: 25px;
border: 0px none;
background-color: #E5E5E5;
border-radius: 10px;
padding: 4px 5px 5px 5px;
}
div#second {
width: 58%;
margin-left: 71%;
margin-top: -450px;
}
.add {
width: 45%;
height: 410px;
margin-top: 0px;
}
.progress .bar {
position: relative;
width: 20px;
height: 6px;
top: -33px;
margin-left: -5px;
margin-right: -5px;
border-left: none;
border-right: none;
border-radius: 0;
}